:root {
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
  }
  body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-content: center;
  }

  .qr-box {
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
  }

  .qr-box img {
    border-radius: 20px;
  }

  .qr-box p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);  
  }
  .qr-box h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }